  <% unless @message %>
    <%= form_tag("/submit", method: "post") do %>
    <p><%= raw t(:invite_text) %></p>

      <%= email_field_tag :email, '', class: "form-control", placeholder: t(:email_placeholder) %><%= submit_tag t(:get_beta_access), class: 'btn btn-lg btn-primary btn-block', id: "submit" %>
    <% end %>
  <% else %>
    <p class="alert alert-<%= @type %>">
      <%= @message %>
    </p>
  <% end %>